{% extends 'base.html' %} {% block content %}
<h2>drinks</h2>

<div class="container">
  {% for drink in drinks %}
  <div class="row cards">
    <div class="col-sm-12 col-md-4 sm-12">
      <div class="card" style="width: 18rem;">
        <img src="{{drink.img_url}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5>{{drink.drink_name}}</h5>
          <p class="card-text">{{drink.description}}</p>
          <hr />
          <div class="col s3">
          <span>
          <i class="fas fa-clock"></i> {{drink.prep_time}} mins
          <i class="fas fa-users"></i> {{drink.serves}} serving
          </span>
          <hr />
          <div>
          <button type="button" class="btn btn-success"><i class="fas fa-pen"></i></button>
          <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% for drink in drinks %} {{drink.drink_name}} {{drink.description}}
{{drink.ingredients}} {{drink.directions}} {{drink.calories}} {{drink.serves}}
{{drink.prep_time}} {{drink.img_url}} {{drink.category_id}} {% endfor %} {%
endblock %}
